.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  
}






form{
  background-color: #282c34;
  height: 95vh;
  width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  
  gap: .5rem;
  
}

form button{
  
  background-color: rgb(97, 218, 117);
  border-radius: 5px ;
  padding: 5px 15px;
  color: #FFF;
   font-size: 1.2rem;
   font-weight: 600;
}

form input{
  padding: 10px;
  border-radius: 25px;
  border: none;
  outline: none;
}

.messages-container{
  height: 100%; 
  overflow-y: scroll;
  background-color: aliceblue;
  
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  
  
}

.error{
  color: red;
  font-size: 1.2rem;
  
}



.message{
  background-color: rgb(129, 128, 128);
  color: #FFF;
  padding: 5px 10px;
 
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 5px 0;
  
  
  border-radius: 5px;
}

.message li{
  list-style: none;
}

.message span{
  font-size: .8rem;
}



.message.Me{
  background-color: rgb(51, 192, 145);
  margin-right: auto;
  
}

@media(max-width:500px){
  form{
    width: 95%;
  }
}
